
// Example of project-name.scss
// Define variables to override default ones
//$primary-color: #2e5bec;
//$dark-color: #3e396b;

// Import full Spectre source code
@import "../../../node_modules/spectre.css/src/spectre";
@import "../../../node_modules/spectre.css/src/spectre-exp";
@import "../../../node_modules/spectre.css/src/spectre-icons";
@import "../../../node_modules/spectre.css/src/timelines";
@import "../../../node_modules/spectre.css/src/calendars";
.bg-theme {
    background: white;
    &[data-theme="light"] {
        background: white;
    }
    &[data-theme="dark"] {
        background: yellowgreen;
    }
}
